* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 315px;
    width: 100%;
    line-height: 1;
    font-size: 12px;
}

input {
    margin: 10px 2px 10px auto;
    border-radius: 0%;
    padding: 5px;
    width: 285px;
    border: 0px;
}

.title {
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: left;
    width: 320px;
}

.title h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    height: 30px;
}

div.panel {
    display: none;
}

div.panel.show {
    display: block !important;
}

img {
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.btn {
    font-size: 12px;
    width: 300px;
    height: 30px;
    padding-left: 5px;
}

.nav {
    background-color: rgb(56, 56, 56);
    border: none;
    padding: 5px;
    color: white;
}


/* Etiquetas */

#login {
    text-align: center;
    background-color: #a5a5a5;
    color: white;
    height: 450px;
}

#login img {
    width: 30%;
    padding: 10px;
}

#logged {
    color: black;
    background-color: #a5a5a5;
    text-align: center;
    min-height: 450px;
    width: 320px;
}

#opciones button {
    background-color: rgb(225, 130, 41);
    color: white;
    padding: 5px 15px 5px 15px;
    display: block;
    height: 30px;
    max-width: 736px;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#correologin {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(225, 130, 41);
    padding: 5px;
    width: 288px;
}

#cont {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    width: 288px;
}

#faqtitle {
    margin: 10px;
    background-color: rgb(225, 130, 41);
    color: white;
    padding: 15px;
    width: 100%x;
    height: 80px;
    vertical-align: center;
}

#perfil {
    padding: 0%;
}

#card {
    background-color: rgb(225, 130, 41);
    color: white;
    display: block;
    height: 30px;
    width: 288px;
    margin-top: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}


/*MediaQueries*/