* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    text-align: center;
    background-color: #a5a5a5;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    height: 30px;
    color: rgb(255, 144, 25);
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    height: 20px;
    color: rgb(193, 193, 193);
}

a:link,
a:visited {
    color: rgb(255, 144, 25);
}

.title {
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: left;
    width: 100%;
}

div.panel {
    display: none;
}

div.panel.show {
    display: block !important;
}

img {
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.btn {
    font-size: 12px;
    width: 300px;
    height: 30px;
    padding-left: 5px;
}

.nav {
    background-color: rgb(56, 56, 56);
    border: none;
    padding: 5px;
    color: white;
}

.signin {
    padding: 5px;
    height: 20px;
    font-size: 10px;
}

.card {
    background-color: rgb(225, 130, 41);
    color: white;
    display: block;
    height: 30px;
    width: 100%;
    margin: 5px auto 5px auto;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 7px;
}

.select {
    background-color: white;
    display: block;
    height: 30px;
    width: 100%;
    margin: 5px auto 5px auto;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 7px;
}

.options button {
    background-color: rgb(225, 130, 41);
    color: white;
    padding: 5px 15px 5px 15px;
    display: block;
    height: 30px;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
}

.hide {
    visibility: hidden;
}

.accordeon {
    background-color: white;
    font-size: 15px;
    line-height: 20px;
}

.logged {
    color: black;
    text-align: center;
    min-height: 400px;
    margin: 0px;
    padding: 0px;
}

.login {
    text-align: center;
    background-color: #111111;
    color: white;
    height: 100%;
}

.login img {
    width: 30%;
    padding: 10px;
}


/* Etiquetas */

#cont p {
    background-color: white;
    display: block;
    height: 30px;
    width: 100%;
    margin: 5px auto 5px auto;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

#faqtitle {
    margin: 10px;
    background-color: white;
    color: rgb(225, 130, 41);
    font-size: 15px;
    font-weight: 800;
    line-height: 30px;
    width: 100%x;
    vertical-align: center;
}

#greetings,
#cont {
    margin-top: 10px;
    margin-bottom: 10px;
}

#profiledata {
    padding: 5px;
}

#total {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    font-size: 35px;
    background-color: rgb(225, 130, 41);
    height: 50px;
    line-height: 50px;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 680px) {}

@media screen and (min-width: 1024px) {}